body,
#root {
  height: 100vh;
}

.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 14rem;
}
.grid-item {
  text-align: center;
  margin: 4px;
  width: 4rem;
  height: 4rem;
}
